:root{
    /*ovo je varijabla koja sadrzi vrijednost boje*/
    --primarna-boja: #6f1111;
    --naglasena-boja: #e67e22;
    --pozadina-svijetlo: #ecf0f1;
}
body{
    /*var je funkcija*/
    background-color: var(--pozadina-svijetlo);
    background-image: radial-gradient(circle, #ff0000,1px,transparent 1px);
    background-size: 20px 20px;
    background-repeat: repeat;
    background-attachment: fixed;
}

.container{
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    inline-size: 90%;
    max-inline-size: 1000px;

    min-height: 100vh;
    min-block-size: 100vh;

    margin: 10px auto;
    background-color: rgb(192, 255, 181);

    box-sizing: border-box;
    outline-style: solid;
    outline-width: 20px;
    outline-color: var(--naglasena-boja);
    outline-offset: 10px;

}   

section{
    border: 1px solid var(--primarna-boja);
    border-radius: 1rem;
    margin: 10px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(255, 5, 5, 0.603);
}