body{
    font-family: sans-serif;
}

div.k{
    border: 1px solid black;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
}

.container{
    display: grid;
    grid-template-areas: 
        "a b"
        "c d";
        gap: 2rem;
}

.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
}

li{
    text-align: center;
}

/*tablet*/
@media (min-width: 450px) {
    body{
        background-color: rgb(255, 155, 25);
    }
}

/*Tablet pejzažno*/

@media (orientation: landscape) and (min-width: 450px) {
    body{
        background-color: rgb(162, 0, 255);
    }
}

/* prilagodba za desktop u učionici 2 */
@media (min-width: 650px) {
/* inače je 1024px */
    ul{
        flex-direction: row;
        justify-content: center;
    }
    body{
        background-color: white;
    }
    .container{
        grid-template-areas: 
            "a b c d";
    }
}

/* prilagodba za ispis */
@media print{
    nav, div.container{
        display: none;
    }
}
