body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    background-color: rgb(255, 255, 255);
    max-width: 300px;
    margin: 100px auto;
    border-radius: 10px;
}

h1{
    color: blue;
    text-align: center;
    padding-top: 20px;

}

h2{
    font-size: 1rem;
    text-align: center;
    color: gray;
}
p{
    text-align: center;
}